@import '../../styles/_main.scss';

.scrollBtn {
    position: fixed;
    bottom: 8rem;
    right: 3.2rem;
    width: 5.4rem;
    height: 5.4rem;
    color: white;
    background-color: $primary;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(1.6rem);
    transition: .3s ease-in-out;

    &>* {
        font-size: 3.2rem !important;
    }

    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }
}