@import '../../styles/_main.scss';

.hero {
    position: relative;
    background-color: var(--light);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    @include breakpoint(md) {
        text-align: left;
    }

    &__wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include breakpoint(md) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__text,
    &__img {
        margin-bottom: 3.2rem;
        @include breakpoint(md) {
            flex: 1;
        }
    }

    &__heading {
        margin-bottom: 1.6rem;
        span {
            color: var(--primary);
        }
    }

    &__lead {
        max-width: 64rem;
        margin-bottom: 4.8rem;
    }

    &__img {
        padding-top: 10rem;

        @include breakpoint(md) {
            order: 2;
            padding-top: 0;
        }

        img {
            width: 100%;
            max-width: 64rem;
        }
    }

    &__buttons {
        margin-top: 3.2rem;
    }
}