$gutter: 3rem;

.portfolio {
    &__grid {
        display: flex;
        margin-left: -$gutter/2; /* gutter size offset */
        width: auto;

        &__column {
            padding-left: $gutter/2; /* gutter size */
            background-clip: padding-box;
        }
    }

    &__item {
        display: block;
        margin-bottom: $gutter/3;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}