@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48rem) {
            @content;
        }
    }

    @if $point == lg {
        @media (min-width: 62rem) {
            @content;
        }
    }    

    @if $point == xl {
        @media (min-width: 71.25rem) {
            @content;
        }
    }

    @if $point == xxl {
        @media (min-width: 82.5rem) {
            @content;
        }
    }            
}
