@import '../../styles/_main.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s ease 0s;
    &.hidden {
        top: -100px;
    }

    &.sticky {

        background: var(--light);
        box-shadow: -1px 3px 20px 3px rgba(0,0,0,.13);
        // transform: translateY(100px);
        
    }

    &__wrapper {
        height: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 2.4rem;
        font-weight: bold;
        
        a {
            text-decoration: none;
            color: var(--primary);
        }

    }

    &__nav,
    &__buttons {
        display: none;
        @include breakpoint(lg) {
            display: block;
        }
    }

    &__nav {
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__item {
            &:not(:last-child) {
                margin-right: 4.8rem;
            }
        }

        &__link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;
            color: var(--dark);
            outline: none;

            &:focus,
            &:hover {
                color: $primary;
            }

            &.is-active {
                color: $primary;
            }
        }        
    }

    &__toggle {
        @include breakpoint(md) {
            display: none;
        }
    }
}