@import '../../styles/_main.scss';

.intro {
    text-align: center;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(md) {
        text-align: left;
    }

    &__wrapper {
        @include breakpoint(md) {
            max-width: 96rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>* {
            flex: 1;
        }
    }

    &__heading {
        margin-bottom: 1.6rem;
        @include breakpoint(md) {

            padding-right: 3.2rem;
            text-align: right;
        }
    }

    &__paragraph {
        margin-bottom: 1.6rem;
        @include breakpoint(md) {
            
            padding-left: 1.6rem;
            border-left: 2px solid $primary;
        }
    }
}