@import '../../styles/_main.scss';


.footer {
    color: var(--light);
    background-color: var(--dark);

    &__wrapper {
        @include breakpoint(lg) {
            display: flex;
        }
    }

    &__start {
        margin-bottom: 3.2rem;
        @include breakpoint(lg) {
            flex: 2
        }
    }

    &__end {
        flex: 3;
        &__wrapper {
            @include breakpoint(lg) {
                display: flex;
                justify-content: space-around;
            }
        }
    }

    &__logo {
        margin-bottom: 3.2rem;
    }

    &__desc {
        max-width: 48rem;
        margin-bottom: 3.2rem;
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
        li {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }

        a {
            padding: 1rem;
            font-size: 3.2rem;
            color: var(--light);
            background-color: rgba(0,0,0,.2);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &>* {
                font-size: 3.2rem;
            }

            &:focus,
            &:hover {
                background-color: $primary;
            }

        }
    }

    &__menu {
        margin-bottom: 3.2rem;

        &__heading {
            margin-bottom: 1.6rem;
            font-size: 2.4rem;
            font-weight: normal;
        }

        &__link {
            text-decoration: none;
            color: rgba(255,255,255,.7);

            &:focus,
            &:hover {
                color: var(--white);
            }
        }
    }
}