@import './styles/main';

:root {
    --primary: #{$primary}; 
    --light: #{$light};
    --dark: #{$dark};
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: $body-font-family;
    color: var(--dark);
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
}

h1 {
    font-size: 3.6rem;

    @include breakpoint(md) {
        font-size: 4.2rem;
    }    

    @include breakpoint(lg) {
        font-size: 4.8rem;
    }
}

h2 {
    font-size: 2.8rem;

    @include breakpoint(md) {
        font-size: 3.6rem;
    }
}

ul, ol {
    list-style: none;
}

.container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 1rem;

    @include breakpoint(md) {
        max-width: 720px;
    }

    @include breakpoint(lg) {
        max-width: 960px;
    }

    @include breakpoint(xl) {
        max-width: 1140px;
    }

    @include breakpoint(xxl) {
        max-width: 1410px;
    }    
}

.section {
    padding: 3.2rem 0;

    @include breakpoint(md) {
        padding: 4.2rem;
    }

    @include breakpoint(lg) {
        padding: 4.8rem;
    }

    @include breakpoint(xl) {
        padding: 5.6rem;
    }

    @include breakpoint(xxl) {
        padding: 6.4rem;
    }
}

.lead {
    font-size: 1.8rem;
}

button {
    cursor: pointer;
    border: none;
}

.btn {
    padding: 1.6rem 3.6rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
    background: linear-gradient(to right,#3956de 0%,#657be5 100%);
    box-shadow: 7px -8px 20px 0 rgba(17,41,255,.2);
    transition: .2s ease-in-out;

    &:focus,
    &:hover {
        color: $primary;
        border: 1px solid $primary;
        background: none;
    }
}